@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.App{
    width: 100vw;
    height: 100vh;
}

* {
    font-family: 'Lato', sans-serif;
    animation-name: opacity-animation;
    animation-duration: 1s;
    padding: 0;
    margin: 0;
}

@keyframes opacity-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}